In [ ]:
import pandas as pd   
invertebrate_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/Invertebrate/Invertebrate_dataset.csv')

In [ ]:
invertebrate_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SWI          280 non-null    float64
 1   SWF          280 non-null    float64
 2   temperature  280 non-null    float64
 3   size         280 non-null    float64
 4   management   280 non-null    int64
 5   duration     280 non-null    int64
dtypes: float64(4), int64(2)
memory usage: 13.2 KB

In [ ]:
invertebrate_data.describe()

              SWI         SWF  temperature        size  management    duration
count  280.000000  280.000000   280.000000  280.000000  280.000000  280.000000
mean     1.896714    1.480679    16.372500   41.138214    4.082143   31.307143
std      0.610995    0.476403     3.619312   19.434496    2.520959    4.198304
min      0.480000    0.250000     3.500000    0.500000    0.000000   19.000000
25%      1.507500    1.190000    14.100000   27.275000    2.000000   29.000000
50%      1.825000    1.495000    17.050000   41.100000    4.000000   32.000000
75%      2.282500    1.790000    19.125000   54.725000    6.000000   34.000000
max      3.790000    2.840000    21.600000   94.200000    8.000000   41.000000

In [ ]:
invertebrate_data.head()

    SWI   SWF  temperature  size  management  duration
0  0.59  1.30          3.5   0.5           2        20
1  1.21  1.85          4.6  47.2           3        19
2  1.08  0.97          4.8  53.3           4        22
3  1.60  1.67          5.2  27.2           8        20
4  2.95  2.41          5.7  38.8           6        22

In [ ]:
x=invertebrate_data.drop('SWI',axis=1)
y=invertebrate_data.SWI

In [ ]:
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.33,random_state=1)

In [ ]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
pred=model.predict(x_test)

In [ ]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,pred)

0.156511748039741

In [ ]:
test_new = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/Invertebrate/Invertebrate_new_test_data.csv')

In [ ]:
test_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SWF          120 non-null    float64
 1   temperature  120 non-null    float64
 2   size         120 non-null    float64
 3   management   120 non-null    int64
 4   duration     120 non-null    int64
dtypes: float64(3), int64(2)
memory usage: 4.8 KB

In [ ]:
imp_model=LinearRegression()
imp_model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
SWI=imp_model.predict(test_new)

In [ ]:
res = pd.DataFrame(SWI)
res.index = test_new.index # its important for comparison
res.columns = ["SWI"]

# To download the csv file locally
from google.colab import files
res.to_csv('prediction_results_HP.csv')         
files.download('prediction_results_HP.csv')